<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualStudioDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
		<VisualStudioDownloader.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Workloads" serializeAs="String">
                <value />
            </setting>
            <setting name="Components" serializeAs="String">
                <value />
            </setting>
        </VisualStudioDownloader.Properties.Settings>
    </applicationSettings>
</configuration>